<div class="body">
    <h3>Cost</h3>
    <p>Achayo is starting a kitenge shop she has to identify the cost of materials and wants to learn ruby too.</p>
    <img class="kitenge" src="/assets/images/kitenge.jpg" alt="kitenge" width="500" height="400"><br><br>
    <img class="ruby" src="/assets/images/Annotation1.png" alt="ruby class" width="500" height="400"><hr>
    <h3>Definition of class</h3>
    <p>The class KitengeMaterials is defined by the attributes price and quantity as you can see both are initialized from a method.</p>
    <p>Materials is an instance to create an object from KitengeMaterials with its method and so parametres are given to the instance (14.2,3) defining price and quantity.</p>
    <small><a href="/">Back</a></small>
</div>