<div class="body">
    <h3>Discount</h3>
    <p>Achayo got a discount on her new materials.</p>
    <img class="discount" src="/assets/images/Annotation3.png" alt="kitenge" width="500" height="400"><br><br>
    <img class="ruby" src="/assets/images/Annotation2.png" alt="ruby" >
    <hr>
    <h3>Attribute change</h3>
    <p>As you can see the value of the price variable has changed by using a method (def price=(new_price)) which is the discount! </p>
    <hr>
    <h4>Total Cost</h4>
    <p>Let's go deeper and find out the total cost of materials Achayo has to sustain</p>
    <p><b>TOTAL COST = VARIABLE UNIT COST x QUANTITY + FIXED COST</b></p><br>
    <img class="totalcost" src="/assets/images/Annotation4.png" alt="ruby" width="600" height="500"><br>
    <small><a href="/views/cost">Back</a></small>
</div>