<div class="body">
    <h1>Kitenge cost analysis</h1>
    <p>Welcome to the blog on analysing costs.</p>
    <p>We take for example a Kitenge shop.</p>
    <hr>
    <h2>Achayo's Kitenge Shop</h2>
    <ol>
        <li><a href="/views/cost"> cost</a></li>
        <li><a href="/views/discount">discount</a></li>
        <li><a href="/views/profit"> profit</a></li>
    </ol>
</div>
        