<!DOCTYPE html>
<%# Optional default layout file `views/layout.erb` %>
<html>
    <head>
        <title>Kitenge - The cost analysis</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
         <link rel="stylesheet" href="/assets/application.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
       
    </head>
        <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                <a class="navbar-brand" href="/">Kitenge</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/cost">Cost</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/views/discount">Discount</a>
                    </li>  
                    <li class="nav-item">
                        <a class="nav-link" href="/views/profit">Profit</a>
                    </li>  
                    </ul>
                </div>  
            </nav>

              
              

            <%= yield %>
            
        </body>
</html>