<div class="body">
    <h4>Profit</h4>
    <img class="profit" src="/assets/images/Annotation6.png">
    <p>Achayo wants to turn out a profit like any other small business like hers.</p><br>
    <img class="profit" src="/assets/images/Annotation6.1.png">
    <hr>
    <p>How can we determine whether Achayo made a <b>PROFIT</b> or <b>LOSS</b>? 
        Simple we make an <b>IF</b> conditional.</p>
    <img class="conditional" src="/assets/images/Annotation8.png">
    <p>Why is it a loss? 😢</p>
    <p>Because the result is less than 0!</p>
    <p>Better luck next time or sale.</p>
    <hr>
    <h4>Case Expression</h4>
    <p>Let's continue with the same class but with a <b>CASE</b> Expression.</p>
     <img class="case" src="/assets/images/Annotation12.png"><br>
     <small><a href="/views/discount">Back</a></small>

</div>