body {
    background-color: whitesmoke;
   
}

.body {
    border: 50px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}

img.kitenge {
    border-radius: 30px;
    background-color: #3F51B5;
}

img.kitenge:hover {
    box-shadow: 10px 10px 10px 10px rgb(240, 143, 16);
}

img.ruby:hover {
    box-shadow: 10px 10px 10px 10px rgb(16, 150, 240);
}


img.discount:hover {
    box-shadow: 10px 10px 10px 10px rgb(240, 16, 16);
}


img.totalcost:hover {
    box-shadow: 10px 10px 10px 10px rgb(16, 150, 240);
}

img.profit:hover {
    box-shadow: 10px 10px 10px 10px rgb(240, 16, 173);
}

img.conditional:hover {
    box-shadow: 10px 10px 10px 10px rgba(66, 71, 15, 0.678);
}


img.case:hover {
    box-shadow: 10px 10px 10px 10px rgba(42, 207, 56, 0.678);
}



